#category_header{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

#category_header > div > * {
    width:fit-content;
    vertical-align: top;
}

#multiSelectSort {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
}

#multiSelectSort span {
    text-align:right;
}



/* SortableJS */
.sortable-selected {
  background-color: #f9c7c8;
  border: solid red 1px;
}

.chapter_group {
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items:center;
    padding-right: 20px;
}

input[name=select_moving] {
    display: none;
}

#type_category .chapter_title{
    width: 200px;
}

.chapter_page {
    width: 50px;
}

#add_chapter {
    margin-left:5px;
}

#add_input {
    margin-left:5px;
}

#delete_input {
    margin-left: 5px;
}


/* 정보 아이콘 */
.info_icon {
    width: 20px;
    height: 20px;
    margin-left: 3px;
}

/* 리스트 아이콘 */
#type_category ul {
    list-style: none;
}

#type_category ul .listIcon.cursor-pointer.open {
    transform:rotate(90deg);
}

#type_category ul .listIcon.cursor-pointer.close {
    transform:rotate(0deg);
}

/* 마우스 오버 시, 리스트 아이콘 회전 */
/* #chapterUL_0 img.cursor-pointer.open:hover {
    transform:rotate(0deg);
    transition: transform 0.5s ease;
}

#chapterUL_0 img.cursor-pointer.close:hover {
    transform:rotate(90deg);
    transition: transform 0.5s ease;
} */