#category_header{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

#category_header > div > * {
    width:fit-content;
    vertical-align: top;
}

#type_category .chapter_title{
    width: 200px;
}

.chapter_page {
    width: 50px;
}

#add_chapter {
    margin-left:5px;
}

#add_input {
    margin-left:5px;
}

#delete_input {
    margin-left: 5px;
    display: none;
}

.sortable {
    cursor: pointer;
}