#type_code .chapter, #type_quiz .chapter {
    justify-content: flex-start;
    align-content: space-evenly;
    align-items: center;
    font-size: 10px;
    background-color: rgb(211, 235, 255);
    min-width: 98%;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 3px 100px 10px 0;
}

#type_code #chapterUl, #type_quiz #chapterUl {
    list-style-type: "|";
}

#type_code #chapterUl li, #type_quiz #chapterUl li {
    margin: 0 5px;
}

#type_code #chapterUl li:first-child, #type_quiz  #chapterUl li:first-child {
    list-style-type: none;
}

#type_code #chapterUl li select, #type_quiz #chapterUl li select {
    margin-left: 5px;
}

textarea[name="ex_concept"] {
    width: 100%;
    min-height: 100px;
    resize: none;
}

#type_code .example {
    margin-top: 20px;
}

#type_code .example_title {
    flex: 1 0 50%;
    width: fit-content;
    align-items: stretch;
    justify-content: flex-start;
}

input[name="ex_num"] {
    width:70px;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #6a6a6a;
}

input[name="ex_title"] {
    font-size: 15px;
    padding:5px;
    /* color: rgb(0, 133, 250); */
    min-width: 505px;
}

.ex_header {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 30px 0 10px 5px;
}

#type_code .ex_header .btn_group {
    justify-content: flex-end;
    align-items: stretch;
    gap: 7px;
    width:fit-content;
    margin-right:20px;
}

#type_code .ex_header .btn_group button {
    width: 30px;
}

#type_code .ex_header .btn_group img {
    width: 80%;
    margin-bottom: -2px;
}